body {
    background-color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

section {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    color: #555555;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    text-decoration: underline;
}

.b1 {
    margin-top: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    color: #555555;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.deleteButton {
    background-color: firebrick;
    color: #fff;
    border: none;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: firebrick;
}

.button.active {
    background-color: #ff0000;
    color: cornflowerblue;
}

.button.inactive {
    color: #999;
}
