body {
    background-color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

section {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #3a3a3a;
    display: grid;
    gap: 10px 2em;
    flex-basis: 43%
}

button:hover {
    text-decoration: underline;
}

.b1 {
    margin-top: 10px;
    padding: 8px;
    background-color: ghostwhite;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.b2 {
    margin-top: 10px;
    padding: 8px;
    background-color: ghostwhite;
    border: none;
    cursor: pointer;
}

.title_block {
    width: 100%;
    background-color: ghostwhite;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
}