html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: inherit;
    margin: 0
}

.wrapper {
    /*width: 80%;*/
    /*max-width: 720px;*/
}

h1 {
    font-family: serif;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #3a3a3a;
    display: grid;
    gap: 7em;
}

h2 {
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #3a3a3a;
    display: grid;
    gap: 10px 2em;
    flex-basis: 43%
}

.h2 {
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #3a3a3a;
    display: grid;
    gap: 10px 2em;
    flex-basis: 43%
}

h3 {
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #3a3a3a;
    gap: 10px 2em;
}

p {
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    line-height: 15px;
    color: ghostwhite;
}

.button {
    margin-top: 10px;
    padding: 8px;
    background-color: ghostwhite;
    color: #555555;
    border: none;
    cursor: pointer;
}

.title_block {
    width: 100%;
    background-color: ghostwhite;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;

}

.site-footer {
    background-color: #3a3a3a;
    width: 100%;
    /*position: absolute;*/
    font-size: 90%;
    padding: 5px 20px;
}

img {
    filter: drop-shadow(1px 1px 4px #3a3a3a);
    padding-top: 50px;
}

@media (max-width: 500px) {
    .image-container {
        display: none;
    }
}

/* Стили для активного состояния */
.button.active {
    background-color: #ff0000; /* Замените на ваш цвет */
    color: cornflowerblue; /* Замените на ваш цвет */
}

.button.inactive {
    color: #999; /* Измените цвет по вашему вкусу */
}

/* Стили для hover state */
.button:hover {
    text-decoration: underline; /* Или другие стили, которые вы хотите применить при наведении */
}

